<!DOCTYPE html>
<html>
<head>
    <title>Login - Explore the Land</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <link rel="stylesheet" href="/css/menu.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/jquery.meanmenu.min.js"></script>
    <script src="../js/components.js"></script>
</head>
<body>

<div id="navbar"></div>

<h1>Login</h1>

<div class="form-callout">
  Don&apos;t have an account? <a href="/views/register.html">Create one here</a>
</div>

<div id="login-form" class="form">

  <label>Email</label>
  <input type="email" id="email">

  <label>Password</label>
  <input type="password" id="password"></input>

  <button onclick="loginUser()">Login</button>

</div>

<div id="response-message"></div>

<script src="../js/script.js"></script>
</body>
</html>